.header {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  justify-content: row;
  display: flex;
}

.modal {
  position: fixed;
  z-index: 2;
  width: 50%;
  background-color: rgb(196, 217, 218);
  margin-top: 14rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close-btn {
  cursor: pointer;
}
