.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 margin: 1rem;
}
.button-group{
    justify-content: space-between;
}

.result{
    padding: 1rem;
}